version: '3'

includes:
  
  utils:
    taskfile: ./Utils.yml
    flatten: true

vars:
  FUTURE: "future"
  PRESENT: "present"

  ACTION_PARAMS_FUTURE:
      map:
        DOCKER_FILE: "{{.USER_WORKING_DIR}}/Dockerfile"
        DOCKER_BUILD_DIR: "{{.USER_WORKING_DIR}}"
        IMAGE_BASE: "{{.CNT_NAME}}"
        IMAGE_TAG: "{{.FUTURE}}"
        DBC_NAME: "{{.CNT_NAME}}_{{.FUTURE}}"
        DBC_HOME: "/home/tomas/homes/{{.CNT_NAME}}_{{.FUTURE}}"
        DBC_COMMAND: "{{.CNT_BOOTSTRAP}} && distrobox-export --app {{.CNT_APP}}"
    
  ACTION_PARAMS_PRESENT:
      map:
        DOCKER_FILE: "{{.USER_WORKING_DIR}}/Dockerfile"
        DOCKER_BUILD_DIR: "{{.USER_WORKING_DIR}}"
        IMAGE_BASE: "{{.CNT_NAME}}"
        IMAGE_TAG: "{{.PRESENT}}"
        DBC_NAME: "{{.CNT_NAME}}_{{.PRESENT}}"
        DBC_HOME: "/home/tomas/homes/{{.CNT_NAME}}_{{.PRESENT}}"
        DBC_COMMAND: "{{.CNT_BOOTSTRAP}} && distrobox-export --app {{.CNT_APP}}"

tasks:
  default:
    desc: list tasks
    cmds:
      - task --list


  showvars:
    desc: show vars definitions
    cmds:
      - |
        echo "Future:"
        {{- range $key, $value := .ACTION_PARAMS_FUTURE }}
        echo "{{ $key }}: {{ $value }}"
        {{- end }}
        echo ""
        echo "Present:"
        {{- range $key, $value := .ACTION_PARAMS_PRESENT }}
        echo "{{ $key }}: {{ $value }}"
        {{- end }}
        

  rebuild:image:
    desc: Remove image if exists and build it again
    cmds:
      - task: img-remove
        vars:
          IMAGE_BASE: '{{get .ACTION_PARAMS_FUTURE "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_FUTURE "IMAGE_TAG"}}'

      - task: img-build
        vars:
          IMAGE_BASE: '{{get .ACTION_PARAMS_FUTURE "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_FUTURE "IMAGE_TAG"}}'
          DOCKER_FILE: '{{get .ACTION_PARAMS_FUTURE "DOCKER_FILE"}}'
          DOCKER_BUILD_DIR: '{{get .ACTION_PARAMS_FUTURE "DOCKER_BUILD_DIR"}}'


  remove:dbc:
    desc: Remove distrobox containter
    cmds:
      - task: dbc-stop
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_FUTURE "DBC_NAME"}}'

      - task: dbc-remove
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_FUTURE "DBC_NAME"}}'


  create:dbc:
    desc: Create distrobox containter
    cmds:
      - task: dbc-create
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_FUTURE "DBC_NAME"}}'
          DBC_HOME: '{{get .ACTION_PARAMS_FUTURE "DBC_HOME"}}'
          IMAGE_BASE: '{{get .ACTION_PARAMS_FUTURE "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_FUTURE "IMAGE_TAG"}}'

      - task: dbc-exec-cmd
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_FUTURE "DBC_NAME"}}'
          DBC_COMMAND: '{{get .ACTION_PARAMS_FUTURE "DBC_COMMAND"}}'


  rebuild:dbc:
    desc: Remove dc containter and creates it again
    cmds:
      - task: remove:dbc
      - task: create:dbc


  rebuild:all:
    desc: Rebuild Distrobox container
    cmds:
      - task: remove:dbc
      - task: rebuild:image
      - task: create:dbc


  rebuild:present:from:future:
    desc: Make present version from future version
    cmds:
      - task: dbc-stop
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_PRESENT "DBC_NAME"}}'

      - task: dbc-remove
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_PRESENT "DBC_NAME"}}'

      - task: img-cptag
        vars:
          IMAGE_FROM_BASE: '{{get .ACTION_PARAMS_FUTURE "IMAGE_BASE"}}'
          IMAGE_FROM_TAG: '{{get .ACTION_PARAMS_FUTURE "IMAGE_TAG"}}'
          IMAGE_BASE: '{{get .ACTION_PARAMS_PRESENT "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_PRESENT "IMAGE_TAG"}}'

      - task: dbc-create
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_PRESENT "DBC_NAME"}}'
          DBC_HOME: '{{get .ACTION_PARAMS_PRESENT "DBC_HOME"}}'
          IMAGE_BASE: '{{get .ACTION_PARAMS_PRESENT "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_PRESENT "IMAGE_TAG"}}'

      - task: dbc-exec-cmd
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_PRESENT "DBC_NAME"}}'
          DBC_COMMAND: '{{get .ACTION_PARAMS_PRESENT "DBC_COMMAND"}}'
  
