version: '3'

includes:
  
  utils:
    taskfile: ./Utils.yml
    flatten: true

vars:
  # template just pospones it to run phase
  SUFFIX: '{{.SUFFIX | default "testing"}}'
  STABLE: 'stable'

  ACTION_PARAMS_SUFFIX:
      map:
        DOCKER_FILE: "{{.USER_WORKING_DIR}}/Dockerfile"
        DOCKER_BUILD_DIR: "{{.USER_WORKING_DIR}}"
        IMAGE_BASE: "{{.CNT_NAME}}"
        IMAGE_TAG: "{{.SUFFIX}}"
        DBC_NAME: "{{.CNT_NAME}}{{.SUFFIX}}"
        DBC_HOME: "/home/tomas/homes/{{.CNT_NAME}}{{.SUFFIX}}"
        DBC_COMMAND: "{{.CNT_BOOTSTRAP}} && distrobox-export --app {{.CNT_APP}}"

  ACTION_PARAMS_STABLE:
      map:
        DOCKER_FILE: "{{.USER_WORKING_DIR}}/Dockerfile"
        DOCKER_BUILD_DIR: "{{.USER_WORKING_DIR}}"
        IMAGE_BASE: "{{.CNT_NAME}}"
        IMAGE_TAG: "{{.STABLE}}"
        DBC_NAME: "{{.CNT_NAME}}{{.STABLE}}"
        DBC_HOME: "/home/tomas/homes/{{.CNT_NAME}}{{.STABLE}}"
        DBC_COMMAND: "{{.CNT_BOOTSTRAP}} && distrobox-export --app {{.CNT_APP}}"

tasks:
  default:
    desc: list tasks
    cmds:
      - task --list


  showvars:
    desc: show vars definitions
    cmds:
      - |
        echo ""
        echo "Action params suffix:"
        {{- range $key, $value := .ACTION_PARAMS_SUFFIX }}
        echo "{{ $key }}: {{ $value }}"
        {{- end }}
        echo ""
        echo "Action params stable:"
        {{- range $key, $value := .ACTION_PARAMS_STABLE }}
        echo "{{ $key }}: {{ $value }}"
        {{- end }}
        

  rebuild:image:
    desc: Remove image if exists and build it again
    cmds:
      - task: img-remove
        vars:
          IMAGE_BASE: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_TAG"}}'

      - task: img-build
        vars:
          IMAGE_BASE: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_TAG"}}'
          DOCKER_FILE: '{{get .ACTION_PARAMS_SUFFIX "DOCKER_FILE"}}'
          DOCKER_BUILD_DIR: '{{get .ACTION_PARAMS_SUFFIX "DOCKER_BUILD_DIR"}}'


  remove:dbc:
    desc: Remove distrobox containter
    cmds:
      - task: dbc-stop
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_SUFFIX "DBC_NAME"}}'

      - task: dbc-remove
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_SUFFIX "DBC_NAME"}}'


  create:dbc:
    desc: Create distrobox containter
    cmds:
      - task: dbc-create
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_SUFFIX "DBC_NAME"}}'
          DBC_HOME: '{{get .ACTION_PARAMS_SUFFIX "DBC_HOME"}}'
          IMAGE_BASE: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_TAG"}}'

      - task: dbc-exec-cmd
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_SUFFIX "DBC_NAME"}}'
          DBC_COMMAND: '{{get .ACTION_PARAMS_SUFFIX "DBC_COMMAND"}}'


  remove:img:
    desc: Remove img if exists
    cmds:
      - task: img-remove
        vars:
          IMAGE_BASE: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_TAG"}}'


  rebuild:dbc:
    desc: Remove dc containter and creates it again
    cmds:
      - task: remove:dbc
      - task: create:dbc


  rebuild:all:
    desc: Rebuild Distrobox container
    cmds:
      - task: remove:dbc
      - task: rebuild:image
      - task: create:dbc


  copy:to:stable:
    desc: Make stable version(without SUFFIX) from suffix version
    cmds:
      - task: dbc-stop
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_STABLE "DBC_NAME"}}'

      - task: dbc-remove
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_STABLE "DBC_NAME"}}'

      - task: img-cptag
        vars:
          IMAGE_FROM_BASE: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_BASE"}}'
          IMAGE_FROM_TAG: '{{get .ACTION_PARAMS_SUFFIX "IMAGE_TAG"}}'
          IMAGE_BASE: '{{get .ACTION_PARAMS_STABLE "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_STABLE "IMAGE_TAG"}}'

      - task: dbc-create
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_STABLE "DBC_NAME"}}'
          DBC_HOME: '{{get .ACTION_PARAMS_STABLE "DBC_HOME"}}'
          IMAGE_BASE: '{{get .ACTION_PARAMS_STABLE "IMAGE_BASE"}}'
          IMAGE_TAG: '{{get .ACTION_PARAMS_STABLE "IMAGE_TAG"}}'

      - task: dbc-exec-cmd
        vars:
          DBC_NAME: '{{get .ACTION_PARAMS_STABLE "DBC_NAME"}}'
          DBC_COMMAND: '{{get .ACTION_PARAMS_STABLE "DBC_COMMAND"}}'
  
